@media screen and (max-width : 480px) {
  #clockdiv {
     font-size: 18px;
  }
  #clockdiv > div {
     padding: 4px;      
  }
   .smalltext{
     padding-top: 2px;
     font-size: 12px;
  }
}
body {
  background-color: #212121;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #444;
}

th {
  background-color: #444;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

tr:hover {
  background-color: #333;
}

td:nth-child(1) {
  width: 30%;
}

td:nth-child(2) {
  width: 25%;
}

td:nth-child(3) {
  width: 20%;
}

td:nth-child(4) {
  width: 25%;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

input[type="text"]:focus {
  outline: none;
}

/* Reset margin and padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Table container to control width */
table {
    width: 100%; /* Ensure table fits within the page width */
    border-collapse: collapse; /* Remove gaps between table cells */
    table-layout: fixed; /* Force table columns to stay fixed */
}

/* Table styling */
table th, table td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word; /* Ensure text wraps and doesn't overflow */
}

/* Prevent table from overflowing on small screens */
@media (max-width: 768px) {
    table th, table td {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
